<p id="notice">

<p>
  <h1><%= @grade.name %></h1>
</p>

<div class="col-xs-8">
  <p>
    <%= @grade.comment %>
  </p>
</div>

<p>
  <strong>Классный руководитель:</strong>
  <%= @grade.teacher_id %>
</p>


  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <%= link_to 'Редактировать', edit_grade_path(@grade) %>
    <%end%>
  <%end%>
<%= link_to 'Назад', grades_path %>