<p id="notice">

<p>
  <h1><%= @grade.name %></h1>
</p>

<p>
  <strong>Классный руководитель:</strong>
  <%= Teacher.find(@grade.teacher_id).fio %>
</p>

<div class="col-xs-8">
  <p>
    <strong>Примечание</strong>
    <%= @grade.comment %>
  </p>
</div>

<% if user_signed_in? %>
    <% if current_user.admin? %>
      <%= link_to 'Редактировать', edit_grade_path(@grade) %>
    <%end%>
  <%end%>
<%= link_to 'Назад', grades_path %>