<ul class='list-group'>
  <% current_order.line_items.each do |line_item| %>
    <li class='list-group-item'>
      <span class='badge'><%= line_item.count %></span>
      <%= line_item.product.title %><br>
      <%= link_to 'Удалить', line_item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %><br>
      <%= line_item.total_price %>
    </li>
  <% end %>

  <% if (current_order.total_price != 0) %>
    Итого:
    <%=current_order.total_price%>
    <br/>

    <%= form_for @order, url: order_verifications_path(@order), remote: true, method: :post, html: { class: 'order-confirmation-form', style: ('display: none;' if @order.verification_sent_at || @order.verificated?) } do |f| %>

      <%= f.select :customer_id, option_groups_from_collection_for_select(Grade.all, :pupils, :name, :id, :fio), {}, class: 'selectpicker' %>

      <%= f.submit 'Отправить подтверждение', class: 'btn btn-primary btn-block' %>

    <% end %>

    <%= form_for @order, url: order_verifications_path(@order), remote: true, method: :patch, html: { class: 'order-verification-form', style: ('display: none;' if !@order.verification_sent_at || @order.verificated?) } do |f| %>

      <%= text_field_tag :verification_code %>

      <%= link_to 'Выбрать другого ученика', '#', class: 'cancel-order-verification' %>

      <%= f.submit 'Подтвердить', class: 'btn btn-primary btn-block' %>

    <% end %>

    <br/>
    <%= link_to 'Закончить чек', close_order_path(@order), class: 'btn btn-primary' %>

    <%= link_to 'Очистить', destroy_all_line_items_path, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>


  <%else%>
    Корзина пуста
  <% end %>


</ul>