<p id="notice">

<p>
  <h1><%= @user.fio %></h1>
</p>

<div>
  <p>
    <strong>Email</strong>
    <%= @user.email %>
  </p>
  <p>
    <strong>Адрес</strong>
    <%= @user.address %>
  </p>
  <p>
    <strong>Дата рождения</strong>
    <%= @user.birthdate %>
  </p>
  <p>
    <strong>Пол</strong>
    <%= @user.gender %>
  </p>
  <p>
    <strong>Телефон</strong>
    <%= @user.phone %>
  </p>
</div>