<%= form_for @pupil, url: grade_pupils_path(@grade), multipart: true do |f| %>
  <% if @pupil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pupil.errors.count, "error") %> prohibited this pupil from being saved:</h2>
      <ul>
      <% @pupil.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">ФИО</span>
    <%= f.text_field :fio, class: "form-control", placeholder: "Введите ФИО"%>
    <span class="input-group-addon" id="basic-addon2">Иванов Иван Иванович</span>
  </div><br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Email</span>
    <%= f.text_field :email, class: "form-control", placeholder: "Введите email" %>
  </div><br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Пароль</span>
    <%= f.password_field :password, class: "form-control", placeholder: "Введите пароль"%>
  </div><br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Адрес</span>
    <%= f.text_field :address, class: "form-control", placeholder: "Введите адрес" %>
  </div><br>

  <div class='input-group date' id='datetimepicker2'>
    <span class="input-group-addon" id="basic-addon1">Дата рождения</span>
    <%= f.text_field :birthdate, class: "form-control datepicker", placeholder: "Введите дату рожденья" %>

        <span class="input-group-addon glyphicon glyphicon-calendar"></span>

  </div><br>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Пол</span>
    <%= f.select :gender, [["Male", :male], ["Female", :female]], {}, {class: "form-control"}%>
  </div><br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Телефон</span>
    <%= f.phone_field :phone, class: "form-control", placeholder: "Введите телефон" %>
  </div><br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Родитель</span>
    <%= f.select :parent_id, Parent.all.map{|u| ["#{u.email}, #{u.fio}", u.id]}, {}, {class: "form-control"}%>
  </div><br>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>