<%= form_for @pupil, multipart: true do |f| %>
  <% if @pupil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pupil.errors.count, "error") %> prohibited this pupil from being saved:</h2>

      <ul>
      <% @pupil.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <strong>ФИО</strong>
    <%= f.text_field :fio, class: "form-control", placeholder: "Введите ФИО"%>
  </div><br>
  <div class="field">
    <strong>Емайл</strong>
    <%= f.text_field :email, class: "form-control", placeholder: "Введите емайл" %>
  </div><br>
  <div class="field">
    <strong>Адрес</strong>
    <%= f.text_field :address, class: "form-control", placeholder: "Введите адрес" %>
  </div><br>
  <div class="field">
    <strong>Дата рожденья</strong>
    <%= f.text_field :birthdate, class: "form-control", placeholder: "Введите дату рожденья" %>
  </div><br>
  <div class="field">
    <strong>Пол</strong>
    <%= f.text_field :gender, class: "form-control", placeholder: "Выберите пол" %>селектор
  </div><br>
  <div class="field">
    <strong>Телефон</strong>
    <%= f.text_field :phone, class: "form-control", placeholder: "Введите телефон" %>
  </div><br>
    <div class="field">
    <strong>Класс</strong>
    <%= f.text_field :grade_id, class: "form-control", placeholder: "Выберите класс" %> селектор
  </div><br>
  <div class="field">
    <strong>Тип</strong>
    <%= f.text_field :type, class: "form-control", placeholder: "ыва" %> должно уже быть выбрано
  </div><br>
  <div class="field">
    <strong>Роль</strong>
    <%= f.text_field :role, class: "form-control", placeholder: "ыва" %> должно уже быть выбрано
  </div><br>
  <div class="field">
    <strong>Родитель</strong>
    <%= f.text_field :parent_id, class: "form-control", placeholder: "ыва" %> хз
  </div><br>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

    t.string   "email"
    t.string   "fio"
    t.string   "address"
    t.date     "birthdate"
    t.integer  "gender"
    t.string   "phone"
    t.integer  "grade_id"
    t.string   "type"
    t.integer  "role"
    t.integer  "parent_id"