<p id="notice">

<p>
  <h1><%= @pupil.fio %></h1>
</p>
<div>
  <p>
    <strong>Родитель:</strong>
    <% if @parent != nil %>
      <%= Parent.find(@parent.id).fio %>
    <% else %>
      Не привязан
    <% end %>
  </p>
  <p>
    <strong>Класс</strong>
    <%= Grade.find(@pupil.grade_id).name %>
  </p>
  <p>
    <strong>Email</strong>
    <%= @pupil.email %>
  </p>
  <p>
    <strong>Адрес</strong>
    <%= @pupil.address %>
  </p>
  <p>
    <strong>Дата рождения</strong>
    <%= @pupil.birthdate %>
  </p>
  <p>
    <strong>Пол</strong>
    <%= @pupil.gender %>
  </p>
  <p>
    <strong>Телефон</strong>
    <%= @pupil.phone %>
  </p>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Предметы будут с оценками</div>
  <div class="panel-body">
    <table class="table table-sm">
      <thead>
        <tr>
          <th><%= link_to 'Название', grades_path(iluha: :fio) %></th>
          <% if user_signed_in? %>
            <th></th>
          <% end %>
        </tr>
      </thead>
    </table>
  </div>


</div>

<% if user_signed_in? %>
    <% if current_user.admin? %>
      <%= link_to 'Редактировать', edit_grade_pupil_path(@grade, @pupil) %>
    <%end%>
  <%end%>
<%= link_to 'Назад', grade_path(@pupil.grade_id) %>